body {
      background-color: #FFFBE7;

    }

    hr {


border-color: #74959A;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3%;

    }
    h1
    {

      color: #019267;
}
    h3
    {
      color: #6EBF8B;
}
